In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import csv

In [5]:
df = pd.DataFrame(pd.read_csv('hubway_trips.csv'))
df

,seq_id,hubway_id,status,duration,start_date,strt_statn,end_date,end_statn,bike_nr,subsc_type,zip_code,birth_date,gender
0,1,8,Closed,9,7/28/2011 10:12:00,23.0,7/28/2011 10:12:00,23.0,B00468,Registered,'97217,1976.0,Male
1,2,9,Closed,220,7/28/2011 10:21:00,23.0,7/28/2011 10:25:00,23.0,B00554,Registered,'02215,1966.0,Male
2,3,10,Closed,56,7/28/2011 10:33:00,23.0,7/28/2011 10:34:00,23.0,B00456,Registered,'02108,1943.0,Male
3,4,11,Closed,64,7/28/2011 10:35:00,23.0,7/28/2011 10:36:00,23.0,B00554,Registered,'02116,1981.0,Female
4,5,12,Closed,12,7/28/2011 10:37:00,23.0,7/28/2011 10:37:00,23.0,B00554,Registered,'97214,1983.0,Female
5,6,13,Closed,19,7/28/2011 10:39:00,23.0,7/28/2011 10:39:00,23.0,B00456,Registered,'02021,1951.0,Male
6,7,14,Closed,24,7/28/2011 10:47:00,23.0,7/28/2011 10:47:00,23.0,B00554,Registered,'02140,1971.0,Female
7,8,15,Closed,7,7/28/2011 10:48:00,23.0,7/28/2011 10:48:00,23.0,B00554,Registered,'02140,1971.0,Female
8,9,16,Closed,8,7/28/2011 11:01:00,23.0,7/28/2011 11:01:00,23.0,B00554,Registered,'97214,1983.0,Female
9,10,17,Closed,1108,7/28/2011 11:55:00,47.0,7/28/2011 12:13:00,40.0,B00550,Registered,'01867,1994.0,Male
10,11,18,Closed,1055,7/28/2011 11:55:00,47.0,7/28/2011 12:13:00,40.0,B00580,Registered,'01867,1956.0,Male
11,12,19,Closed,1042,7/28/2011 11:55:00,47.0,7/28/2011 12:12:00,40.0,B00539,Registered,'01867,1959.0,Female
12,13,23,Closed,994,7/28/2011 12:00:00,40.0,7/28/2011 12:16:00,47.0,B00368,Casual,NaN,NaN,NaN
13,14,25,Closed,15,7/28/2011 12:00:00,22.0,7/28/2011 12:00:00,22.0,B00442,Registered,'02446,1982.0,Male
14,15,27,Closed,952,7/28/2011 12:00:00,40.0,7/28/2011 12:16:00,23.0,B00556,Registered,'02128,1944.0,Male
15,16,28,Closed,32,7/28/2011 12:00:00,22.0,7/28/2011 12:01:00,22.0,B00316,Registered,'02115,1960.0,Female
16,17,29,Closed,1261,7/28/2011 12:00:00,22.0,7/28/2011 12:21:00,45.0,B00454,Registered,'02492,1975.0,Male
17,18,30,Closed,7,7/28/2011 12:00:00,22.0,7/28/2011 12:00:00,22.0,B00404,Registered,'02446,1956.0,Male
18,19,31,Closed,1020,7/28/2011 12:01:00,38.0,7/28/2011 12:18:00,36.0,B00147,Registered,'02118,1987.0,Female
19,20,33,Closed,1264,7/28/2011 12:01:00,38.0,7/28/2011 12:22:00,44.0,B00165,Registered,'02139,1985.0,Female
20,21,34,Closed,1043,7/28/2011 12:01:00,38.0,7/28/2011 12:18:00,44.0,B00527,Registered,'02351,1978.0,Male
21,22,35,Closed,969,7/28/2011 12:01:00,22.0,7/28/2011 12:17:00,44.0,B00487,Registered,'02143,1971.0,Male
22,23,37,Closed,1582,7/28/2011 12:01:00,38.0,7/28/2011 12:27:00,10.0,B00093,Registered,'02130,1980.0,Female
23,24,38,Closed,620,7/28/2011 12:01:00,22.0,7/28/2011 12:12:00,20.0,B00375,Registered,'02474,1955.0,Female
24,25,40,Closed,7,7/28/2011 12:02:00,22.0,7/28/2011 12:02:00,22.0,B00275,Registered,'02140,1971.0,Female
25,26,41,Closed,771,7/28/2011 12:02:00,38.0,7/28/2011 12:15:00,42.0,B00279,Registered,'02108,1943.0,Male
26,27,42,Closed,1222,7/28/2011 12:02:00,38.0,7/28/2011 12:22:00,44.0,B00074,Registered,'02143,1972.0,Female
27,28,43,Closed,4,7/28/2011 12:02:00,22.0,7/28/2011 12:02:00,22.0,B00137,Registered,'01776,1949.0,Male
28,29,44,Closed,5,7/28/2011 12:02:00,22.0,7/28/2011 12:02:00,22.0,B00082,Registered,'01880,1968.0,Male
29,30,45,Closed,824,7/28/2011 12:02:00,22.0,7/28/2011 12:16:00,38.0,B00460,Registered,'02131,1967.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1578995,1578996,1747993,Closed,540,11/30/2013 20:17:00,76.0,11/30/2013 20:26:00,91.0,T01268,Registered,'02139,NaN,Male
1578996,1578997,1747994,Closed,300,11/30/2013 20:23:00,136.0,11/30/2013 20:28:00,67.0,T01352,Registered,'02142,NaN,Male
1578997,1578998,1747995,Closed,420,11/30/2013 20:23:00,76.0,11/30/2013 20:30:00,80.0,T01185,Registered,'02215,NaN,Male
1578998,1578999,1747996,Closed,13980,11/30/2013 20:23:00,74.0,12/1/2013 00:16:00,137.0,T01334,Registered,'02138,NaN,Male
1578999,1579000,1747997,Closed,300,11/30/2013 20:33:00,133.0,11/30/2013 20:38:00,74.0,T01217,Casual,NaN,NaN,NaN
1579000,1579001,1747998,Closed,1200,11/30/2013 20:46:00,137.0,11/30/2013 21:06:00,80.0,T01146,Registered,'02171,NaN,Male
1579001,1579002,1747999,Closed,360,11/30/2013 20:50:00,136.0,11/30/2013 20:56:00,67.0,T01328,Registered,'02142,NaN,Male
1579002,1579003,1748000,Closed,300,11/30/2013 20:59:00,68.0,11/30/2013 21:04:00,95.0,T01182,Registered,'02445,NaN,Male
1579003,1579004,1748001,Closed,300,11/30/2013 21:01:00,84.0,11/30/2013 21:06:00,128.0,B01468,Registered,'02142,NaN,Male
1579004,1579005,1748002,Closed,960,11/30/2013 21:07:00,68.0,11/30/2013 21:23:00,74.0,T01439,Registered,'02215,NaN,Male
1579005,1579006,1748003,Closed,180,11/30/2013 21:10:00,72.0,11/30/2013 21:13:00,91.0,T01351,Registered,'02142,NaN,Female
1579006,1579007,1748004,Closed,420,11/30/2013 21:19:00,96.0,11/30/2013 21:26:00,76.0,T01175,Registered,'02139,NaN,Female
1579007,1579008,1748005,Closed,300,11/30/2013 21:41:00,67.0,11/30/2013 21:46:00,68.0,T01343,Registered,'02139,NaN,Male
1579008,1579009,1748006,Closed,300,11/30/2013 21:47:00,137.0,11/30/2013 21:52:00,133.0,B01489,Registered,'02452,NaN,Male
1579009,1579010,1748007,Closed,780,11/30/2013 21:54:00,129.0,11/30/2013 22:07:00,91.0,T01350,Registered,'02139,NaN,Male
1579010,1579011,1748008,Closed,540,11/30/2013 21:55:00,76.0,11/30/2013 22:04:00,68.0,T01175,Registered,'02139,NaN,Male
1579011,1579012,1748009,Closed,1440,11/30/2013 22:15:00,130.0,11/30/2013 22:39:00,68.0,B01480,Registered,'02139,NaN,Male
1579012,1579013,1748010,Closed,480,11/30/2013 22:25:00,137.0,11/30/2013 22:33:00,74.0,T01308,Registered,'02140,NaN,Male
1579013,1579014,1748011,Closed,420,11/30/2013 22:25:00,137.0,11/30/2013 22:32:00,74.0,T01043,Registered,'02139,NaN,Female
1579014,1579015,1748012,Closed,360,11/30/2013 22:51:00,67.0,11/30/2013 22:57:00,68.0,T01352,Registered,'02139,NaN,Male
1579015,1579016,1748013,Closed,300,11/30/2013 22:53:00,74.0,11/30/2013 22:58:00,87.0,T01217,Registered,'02138,NaN,Female
1579016,1579017,1748014,Closed,120,11/30/2013 23:07:00,128.0,11/30/2013 23:09:00,136.0,B01468,Registered,'02142,NaN,Male
1579017,1579018,1748015,Closed,900,11/30/2013 23:17:00,76.0,11/30/2013 23:32:00,96.0,B00585,Registered,'02131,NaN,Female
1579018,1579019,1748016,Closed,240,11/30/2013 23:24:00,134.0,11/30/2013 23:28:00,139.0,T01195,Registered,'02478,NaN,Male
1579019,1579020,1748017,Closed,360,11/30/2013 23:24:00,129.0,11/30/2013 23:30:00,133.0,T01069,Registered,'02138,NaN,Male
1579020,1579021,1748018,Closed,720,11/30/2013 23:30:00,130.0,11/30/2013 23:42:00,90.0,T01341,Registered,'02141,NaN,Male
1579021,1579022,1748019,Closed,480,11/30/2013 23:32:00,67.0,11/30/2013 23:40:00,88.0,T01328,Registered,'02143,NaN,Male
1579022,1579023,1748020,Closed,540,11/30/2013 23:32:00,137.0,11/30/2013 23:41:00,133.0,T01310,Casual,NaN,NaN,NaN
1579023,1579024,1748021,Closed,120,11/30/2013 23:36:00,76.0,11/30/2013 23:38:00,68.0,B01478,Registered,'02141,NaN,Male
1579024,1579025,1748022,Closed,420,11/30/2013 23:39:00,68.0,11/30/2013 23:46:00,95.0,T01352,Registered,'02143,NaN,Female